body {
    background: url(../img/1.jpg!d);
    margin: 0px;
}

.enter h1 {
    padding-bottom: 20px;
    margin: 0;
    color: white;
}

.text {
    padding-bottom: 15px;
    color: #0f0469;
    ;
    align-items: center;
}

.enter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff52;
    padding: 40px 0px;
    flex-shrink: 5;
    width: 30em;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 7px;
}

button {
    font-size: 90%;
    font-weight: bold;
    background-color: transparent;
    border-color: white;
    color: #0f0469;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-width: 0.5px;
    border-style: solid;
    transition: 0.25s;
}

button:hover {
    color: white;
    background: #0f0469;
    transition: 0.25s;
    border-color: #0f0469;
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    box-sizing: unset;
    width: 100%;
    font-size: 90%;
    border-width: 1px;
    background-color: transparent;
    border-color: white;
}

input:focus {
    outline: 0;
    outline-offset: 0;
}

@media screen and (max-width: 500px) {
    .enter {
        width: 100%;
    }
    input {
        font-size: 200%;
    }
}